body {
    /* Font family for the entire body */
    font-family: 'Arial', sans-serif;
    /* Background color */
    background-color: #d9c1c1;
    /* Margin around the body */
    margin: 30;
    /* Padding inside the body */
    padding: 0;
    /* Flexbox layout */
    display: flex;
    /* Center content horizontally */
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Minimum height of 70% of the viewport height */
    min-height: 70vh;
}

.container {
    /* Text alignment within the container */
    text-align: center;
    /* Background color for the container */
    background-color: rgb(222, 232, 231);
}

#result {
    /* Margin from the top */
    margin-top: 50px;
}